h2{
		text-align: center;
		color: #000000;
		font-family: Lucida Console;
	}
	h4{
		text-align: center;
		color: #21423C;
		font-family: Helvetica;
	}

	div{
		margin-left: 35%;
		margin-right: 35%;
		background-color: #FFD700;
		border: 2px solid blue;
	}
	img{
		padding-left: 20%;
	}
	p{
		align: center;
	}
	